*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/appInsightsSettings.xml
/app/src/main/res/xml/backup_rules.xml
/app/src/main/java/com/example/msxtileeditor/ui/theme/Color.kt
/app/src/main/res/values/colors.xml
/app/src/main/res/xml/data_extraction_rules.xml
/.idea/deploymentTargetSelector.xml
/app/src/androidTest/java/com/example/msxtileeditor/ExampleInstrumentedTest.kt
/app/src/test/java/com/example/msxtileeditor/ExampleUnitTest.kt
/gradle.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/ic_launcher_foreground.xml
/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/.idea/kotlinc.xml
/gradle/libs.versions.toml
/settings.gradle.kts
/app/src/main/res/values/strings.xml
/.idea/studiobot.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/app/src/main/java/com/example/msxtileeditor/ui/theme/Theme.kt
/app/src/main/res/values/themes.xml
/.idea/migrations.xml
/.idea/misc.xml
/app/proguard-rules.pro
/app/src/main/java/com/example/msxtileeditor/ui/theme/Type.kt
/.idea/vcs.xml
/gradlew
